@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: hotpink;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(158, 226, 255);
    height: 80px;
    padding: 25px 0;
}

.header .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 850px;
}

.header-logo {
    height: 80px;
    flex: 0 auto;
    margin-right: auto;
}

.header-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
}

.header-link a {
    font-weight: 300;
    margin: 0px 14px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(187, 140, 110);
}

.body-one {
    background-color: rgb(255, 246, 181);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.body-one .container {
    width: 850px; 
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}

.container .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-one-title {
    text-align: center;
    color: rgb(12, 130, 22);
    text-shadow: -2px 0px rgb(237, 149, 55);  
    font-size: 40px;
    font-weight:900;
    margin-bottom: 20px;
}

.body-one-img img {
    height: 210px;
}

.body-one-button {
    background-color: lightcoral;
    color: beige;
    border: none;
    padding: 5px 20px;
    font-size: large;
    border-radius: 15px;
}

.body-one-button:hover {
    background-color: aquamarine;
    color: lightcoral;
}

.body-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 100px;
}

.body-two .gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    column-gap: 10px;
    row-gap: 30px;
    max-width: 850px;
}

.gallery img {
    max-width: 400px;
}

.gallery>div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.body-two .title {
    color: rgb(255, 247, 240);
    text-shadow: 3px 2px black;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 25px;
}

.body-two .border {
    border: 2px solid black;
}

.caption {
    background-color: beige;
    border: 2px solid black;
    text-align: center;
}

.tintin-scotland {
    height: 283.8px;
    width: 404px;
    
}

.body-three {
    display: flex;
    flex-flow: row;
    background-color: beige;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}

.body-three .container {
    display: flex;
    flex-flow: column;
    background-color: beige;
    justify-content: center;
    align-items: center;
    width: 850px;
    row-gap: 20px;
}

.body-three .quote {
    font-size: 35px;
    font-style: italic;
    font-weight: 300;
    flex-wrap: wrap;
}

.quote span {
    font-weight: 600;
    color: blue;
}

.quoted-from {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 700;
}